#profile {
    margin: 20px;
    padding: 30px;
    border: 3px solid gray;
    border-radius: 15px;
    font-size: 20px;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
}
#leftProfileArea {
    float: right;
}
#profileHeading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
#profileInfos {
    margin-left: 40px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 15px;
}

#profileImage {
    max-width: 500px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 30%;
    border: 3px solid gray;
}
/* button.mat-button {
    background-color: linear-gradient(to right, purple, black);
} */