<div id="profile">
    <div id="leftProfileArea">
        <div id="profileHeading">Profile {{profileNumber}}</div>
        <div id="profileInfos">
                <div class="label">Name:</div>
                <div class="infoValue">{{profileName}}</div>
                <div class="label">Age:</div>
                <div class="infoValue">{{profileAge}}</div>
        </div>
        <button mat-raised-button color="warn" (click)="firstBtnClicked()">See more</button>
    </div>
    <img id="profileImage" src="{{ profileImage }}" />
</div>